body {
    font-family: sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
}

header h1 {
    color: #1DB954; /* Color de Spotify */
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 4px 0 0 4px;
}

button#searchButton {
    padding: 10px;
    width: 25%;
    border: none;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

#searchResults, #songRankingList {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.song-item {
    padding: 10px;
    background-color: #282828;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.vote-button {
    background-color: #535353;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Botons de DJ */
.btn-dj {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e0ffe0; /* verd suau */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.btn-dj.btn-red {
    background-color: #ffe0e0; /* vermell suau */
}
